*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    width: 100%;
    min-height: 100vh;
    background-color: rgb(179, 182, 182);
    
}

.list{
   width: 100%;
   max-width: 540px;
   background: white;
   margin: 150px auto 20px;
   padding: 40px 30px 70px;
 
   /* top    right and  left    bottom */

   border-radius: 30px;
   box-shadow: 0 0 30px #171616;
}
 h2{
    color: rgb(6, 6, 248);
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;

 }
h2 img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
}
.innerDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove black;
    outline-offset: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px gray;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
}
input::placeholder{
  color: rgb(29, 29, 225);

}
button{
    border: none;
    outline: none;
    background-color: rgb(72, 72, 223);
    color: #ffffff;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 600;
    border: solid white ;
    border-radius: 5px;
    margin: 1px;
    cursor: pointer;


}
button:hover{
    background-color: rgb(4, 4, 242);
    color:red
}
ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    margin-block: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: url(./unchecked.png);
    background-size: cover;
    top: 12px;
    left: 8px;
}

ul li.completed{
  background: rgb(183, 240, 183);
  color: black;
  border-radius: 50px;
}
ul li.completed::before{
    background: url(./checked.png);
    background-size: cover;
}


ul li span{

    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-align: center;
    border-radius: 50%;
    

}
ul li span:hover{
    border: solid black 2px;
    background-color:  white;
    color: red;
}